<ion-header collapse="fade">
    <ion-toolbar>
        <ion-buttons slot="start" >
            <ion-button id="open-modal-filter-map" class="filter-button">
                <fa-icon class="filter-icon" icon="map"></fa-icon>
                Map Filter
            </ion-button>
        </ion-buttons>
		<ion-progress-bar *ngIf="activitiesStore.$loading()" type="indeterminate"></ion-progress-bar>
        <p class="toolbar-text">{{ activitiesStore.$activitiesLength() }} activities</p>
        <ion-buttons slot="end">
            <ion-button id="open-modal-filters" class="filter-button">
                <fa-icon class="filter-icon" icon="filter"></fa-icon>
                Filter
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollY]="false">
    <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <cdk-virtual-scroll-viewport *ngIf="activitiesStore.$activitiesLength() > 0" itemSize="236" minBufferPx="237" maxBufferPx="1180" class="ion-content-scroll-host">
        <ion-list>
			<ion-item *cdkVirtualFor="let activity of activitiesStore.$filteredActivities(); templateCacheSize: 0">
				<app-activity [activity]="activity"></app-activity>
			</ion-item>
        </ion-list>
    </cdk-virtual-scroll-viewport>
    <ion-list *ngIf="activitiesStore.$loading() && activitiesStore.$activitiesLength() === 0">
        <app-activity-skeleton></app-activity-skeleton>
    </ion-list>
    <div *ngIf="activitiesStore.$activitiesLength() === 0 && !activitiesStore.$loading()" class="empty-results">No results found</div>

    <ion-modal #modal trigger="open-modal-filter-map" [initialBreakpoint]="0.80">
        <ng-template>
            <app-activity-filter-map
				class="activity-filter-popup"
				(modalClosed)="modal.dismiss()"
            ></app-activity-filter-map>
        </ng-template>
    </ion-modal>
</ion-content>
