.filter-icon {
	margin-right: 10px;
}

.filter-button {
	--padding-end: 8px;
}

.toolbar-text {
	text-align: center;
}

cdk-virtual-scroll-viewport {
	height: 100%;
	width: 100%;
}

.activity-filter-popup {
	height: 100%;
}

.empty-results {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
