.filter-icon {
	margin-right: 10px;
}

.filter-button {
	--padding-end: 8px;
}

cdk-virtual-scroll-viewport, .cdk-virtual-scroll-content-wrapper {
	height: 100%;
	width: 100%;
}

.activity-filter-popup {
	height: 100%;
}
