ion-item {
	--padding-start: 0;
	--inner-padding-end: 0;

	.activity-title {
		display: flex;
		align-items: start;
		margin-top: 5px;
		margin-bottom: 0;
	}

	.activity-icon {
		margin-right: 10px;
	}

	.activity-chevron {
		width: 18px;
		height: 18px;
		margin-left: auto;
		color: #c9c9ca;
	}

	p {
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		width: 95%;
	}

	ion-note {
		font-size: 15px;
		margin-right: 8px;
		font-weight: normal;
	}

	ion-note.md {
		margin-right: 14px;
	}
}
