<ion-item
	*ngIf="activity"
	(click)="openStravaActivity()"
	[href]="'https://www.strava.com/activities/' + activity.id"
	target="_blank"
	[detail]="false"
>
	<ion-grid>
		<ion-row>
			<ion-col>
				<h2 class="activity-title">
					<ion-icon
						class="activity-icon"
						[name]="activityIcon"
						size="large"
						*ngIf="activityIcon"
					></ion-icon>
					<span class="activity-text">{{ activity.name }}</span>
					<ion-icon
						aria-hidden="true"
						name="chevron-forward"
						size="small"
						class="activity-chevron"
					></ion-icon>
				</h2>
				<span class="activity-date">
					<ion-note>{{
						activity.start_date | date: "MMM dd, yyyy 'at' HH:mm"
					}}</ion-note>
				</span>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<div class="activity-map" [id]="'map-' + activity.id"></div>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-item>
