<ion-app>
	<ion-tabs>
		<ion-tab-bar slot="bottom" class="custom-tab-bar">
			<ion-tab-button
				tab="home"
				routerLink="/home"
				class="custom-tab-button"
			>
				<ion-icon name="home-outline"></ion-icon>
				Home
			</ion-tab-button>
			<ion-tab-button
				tab="activities"
				routerLink="/activities"
				class="custom-tab-button"
			>
				<ion-icon name="list-outline"></ion-icon>
				Activities
			</ion-tab-button>
			<ion-tab-button
				tab="clear"
				(click)="clearData()"
				class="custom-tab-button"
			>
				<ion-icon name="trash"></ion-icon>
				Clear storage (dev only)
			</ion-tab-button>
		</ion-tab-bar>
	</ion-tabs>
</ion-app>
