ion-list.map-search-suggestions {
	position: absolute;
	top: 100px;
	left: 0;
	right: 0;
	z-index: 9999;
}

ion-header {
	height: 10%;
}

.filter-map-container {
	display: flex;
	flex-direction: column;
	height: 90%;
}

.filter-map {
	flex-grow: 0.93;  // Allow the map div to grow and take the remaining space
	width: 100%;
}

ion-header ion-toolbar:first-of-type {
	padding-top: 0 !important;
}

.search-and-radius {
	display: flex;

	.radius {
		margin-left: auto;
	}
}
