:root {
	--search-and-radius-height: 100px;
}

ion-list.map-search-suggestions {
	position: absolute;
	top: var(--search-and-radius-height);
	left: 0;
	right: 0;
	z-index: 9999;
}

ion-header {
	//height: 10%;
}

.filter-map-container {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.filter-map {
	flex-grow: 0.93;  // Allow the map div to grow and take the remaining space
	width: 100%;
}

ion-header ion-toolbar:first-of-type {
	padding-top: 0 !important;
}

.search-and-radius {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;

	.search {
	}

	.radius {
		flex-shrink: 5;
		border-radius: var(--border-radius);
	}
}
