<ion-header>
    <ion-toolbar>
        <ion-title>Filters</ion-title>
        <ion-buttons slot="start">
            <ion-button (click)="modalClosed.emit()">Close</ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="applyFilters()">Apply</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<div class="filter-map-container">
    <div resize (resized)="headerResized($event)" class="search-and-radius">
        <ion-searchbar class="search" [debounce]="200" (ionInput)="search($event)"></ion-searchbar>
		<ion-select
			class="radius"
			aria-label="Radius"
			placeholder="Select radius"
			fill="outline"
			(ionChange)="setRadius($event)"
			[(ngModel)]="radiusOption"
		>
			<ion-select-option *ngFor="let radius of possibleRadiuses" [value]="radius">{{ radius.name }}</ion-select-option>
		</ion-select>
    </div>
    <ion-list *ngIf="searchResults && searchResults.length > 0" class="map-search-suggestions">
        <ion-item *ngFor="let result of searchResults">
            <ion-label (click)="setMap(result)">{{ result.label }}</ion-label>
        </ion-item>
    </ion-list>
    <div class="filter-map" id="filter-map"></div>
</div>
