<ion-header>
    <ion-toolbar>
        <ion-title>Filters</ion-title>
        <ion-buttons slot="start">
            <ion-button (click)="modalClosed.emit()">Close</ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="applyFilters()">Apply</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<div class="filter-map-container">
    <div class="search-and-radius">
        <ion-searchbar [debounce]="200" (ionInput)="search($event)"></ion-searchbar>
		<ion-item class="radius">
			<ion-input
				label="Radius"
				type="number"
				placeholder="2000"
				[value]="radius"
				(ionInput)="setRadius($event)">
			</ion-input>
		</ion-item>
    </div>
    <ion-list *ngIf="searchResults && searchResults.length > 0" class="map-search-suggestions">
        <ion-item *ngFor="let result of searchResults">
            <ion-label (click)="setMap(result)">{{ result.label }}</ion-label>
        </ion-item>
    </ion-list>
    <div class="filter-map" id="filter-map"></div>
</div>
