<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button
				[text]="getBackButtonText()"
				defaultHref="/activities"
			></ion-back-button>
		</ion-buttons>
		<ion-title>Activity details</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="activity">
	<ion-header collapse="condense">
		<ion-toolbar>
			<ion-title size="large">Activity details</ion-title>
		</ion-toolbar>
	</ion-header>

	<ion-item>
		<ion-icon
			aria-hidden="true"
			name="person-circle"
			color="primary"
		></ion-icon>
		<ion-label class="ion-text-wrap">
			<h2>
				{{ activity.name }}
				<span class="date">
					<ion-note
						>{{ activity.start_date | date:"MMM dd, yyyy 'at' HH:mm"
						}}</ion-note
					>
				</span>
			</h2>
			<h3>To: <ion-note>Me</ion-note></h3>
		</ion-label>
	</ion-item>

	<div class="ion-padding">
		<p>{{ activity.description }}</p>
	</div>
</ion-content>
